<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index"><img class="logo" src="https://droidapkbuzz.com/wp-content/uploads/2018/11/dolby-atmos-apk.png" alt="Alternate Text" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="link" href="/Home/Index">Main Page</a></li>
                    <li><a class="link" href="/Home/Categories">Categories</a></li>
                    <li><a class="link" href="/Home/Halls">Cinema Halls</a></li>
                    <li><a class="link" href="/Home/Checkout">Your Card</a></li>
                    <li><a class="link" href="/Home/Login">Log In</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>&copy; @DateTime.Now.Year - Dolby atmos</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
