
@{
    ViewBag.Title = "FilmAdd";
}

<h2 class="p-3" style="text-align:center;">Adding of a new film</h2>

<form method="post">
    <div class="form-group k">
        <label for="Title">Film title</label>
        <input name="ShowStaus" value=1 type="hidden" class="form-control">
        <input name="Title" type="text" class="form-control" id="Title" placeholder="Title">
    </div>
    <div class="form-group k">
        <label for="Cat">Choose category</label>
        <select name="CategoryId" class="form-control" id="Cat">
            @foreach (var p in ViewBag.Categories)
            {
                <option value="@p.Id">@p.Name</option>
            }

        </select>
    </div>
    <div class="form-group k">
        <label for="ShortDesc">Short info about film</label>
        <textarea name="ShortDesc" class="form-control" id="ShortDesc" rows="3"></textarea>
    </div>
    <div class="form-group k">
        <label for="LongDesc">Long info about film</label>
        <textarea name="LongDesc" class="form-control" id="LongDesc" rows="3"></textarea>
    </div>
    <div class="form-group k">
        <label for="Cast">Cast</label>
        <textarea name="Cast" class="form-control" id="Cast" rows="3"></textarea>
    </div>
    <div class="form-group k">
        <label for="Studio">Studio</label>
        <input name="Studio" type="text" class="form-control" id="Studio" placeholder="Studio">
    </div>
    <div class="form-group k">
        <label for="Director">Director</label>
        <input name="Director" type="text" class="form-control" id="Director" placeholder="Director">
    </div>
    <div class="form-group k">
        <label for="Language">Language</label>
        <input name="Language" type="text" class="form-control" id="Language" placeholder="Language">
    </div>
    <div class="form-group k">
        <label for="Language">Chronometrage</label>
        <p style="display:flex;">
            <input name="ChoronoHours" style="width:80px!important;" type="number" class="form-control" id="ChoronoHours" placeholder="hrs"><strong style="padding:5px;">hrs</strong>
            <input name="ChoronoMinutes" style="width:80px!important;" type="number" class="form-control" id="ChoronoMinutes" placeholder="min"><strong style="padding:5px;">mints</strong>
        </p>
    </div>
    <div class="form-group k">
        <label for="Img">Image</label>
        <input name="Img" type="text" class="form-control" id="Img" placeholder="Image url">
    </div>
    <div class="form-group k">
        <label for="start">Start date:</label>
        <input type="date" id="start" name="StartDate" value="@DateTime.Today" min=" @DateTime.Today" max=" @DateTime.Today.AddYears(1)">
    </div>
    <div class="form-group k">
        <label for="finish">Finish date:</label>
        <input type="date" id="finish" name="FinishDate" value="@DateTime.Today" min=" @DateTime.Today" max=" @DateTime.Today.AddYears(1)">
    </div>
    <div class="form-group k">
        <button style="margin-top:20px;" type="submit" class="btn btn-primary mb-2">Confirm</button>
    </div>
</form>